<div class="container">
  <h2 style="margin:0">Más sobre mi...</h2>
  <h3>Otros hobbies:</h3>
  <div class="row m-1">
    <div class="col-sm-6 p-1" data-aos="fade-right">
      <div class="image-box">
        <img src="assets/img/hobbies/acuariofilia.jpg" alt="Acuariofilia" />
        <div class="text-box">
            <h3>Acuariofilia</h3>
            Acuarios marinos y de agua dulce
        </div>
      </div>
    </div>
    <div class="col-sm-6 p-1" data-aos="fade-left">
      <div class="image-box">
        <img src="assets/img/hobbies/series.jpg" alt="Acuariofilia" />
        <div class="text-box">
            <h3>Series</h3>
            GoT, Lost, Breaking Bad y muchas más
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-1" data-aos="fade-right">
      <div class="image-box">
        <img src="assets/img/hobbies/ciclismo.jpg" alt="Ciclismo" />
        <div class="text-box">
          <h3>Ciclismo</h3>
          Potenciado por mis amigos de <a href="https://www.autentia.com">@autentia</a> y <a href="https://www.ruedalenticular.com/">@ruedalenticular</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-1" data-aos="fade-up">
      <div class="image-box">
        <img src="assets/img/hobbies/crossfit.jpg" alt="Crossfit" />
        <div class="text-box">
          <h3>Crossfit</h3>
          En el Box de <a href="https://www.yosoycrossfit.com/">Yo Soy Crossfit</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-1" data-aos="fade-left">
      <div class="image-box">
        <img src="assets/img/hobbies/patinaje.jpg" alt="Patinaje" />
        <div class="text-box">
          <h3>Patinaje</h3>
          O al menos lo intento...
        </div>
      </div>
    </div>
  </div>
</div>