.image-box {
  width: 100%;
  position: relative;
}

.image-box > img {
  width: 100%;
}

.text-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #3f51b5c2;
  line-height: 1.5em;
  padding: 5px;
}

.text-box > h3 {
  margin-bottom: 0px;
} 