@import "bourbon";

// variables - colors

$background: #ffffff00; // body background color
$line-color: #3f51b5; // body background color

$color-1: #303e49; // blue dark
$color-3: #ffffff; // white

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// mixins - border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// layout - breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     1170px;     

// layout - media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (max-width: $M) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) and (max-width: $L) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	box-sizing: border-box;
}

section {
	background-color: $background;
}

img {
	max-width: 100%;
}

h1, h2 {
	font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
	height: 200px;
	line-height: 200px;
	text-align: center;
	background: $color-1;

	h1 {
		color: $color-3;
		font-size: 18px;
	}

	/*@include MQ(L) {
		height: 300px;
		line-height: 300px;

		h1 {
			font-size: 24px;
		}
	}*/
}

#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin: {
		top: 2em;
		bottom: 2em;
	}

	&::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: $line-color;
	}

	/*@include MQ(L) {
		margin: {
			top: 3em;
			bottom: 3em;
		}

		&::before {
			left: 50%;
			margin-left: -2px;
		}
	}*/
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	/*@include MQ(L) {
		margin: 4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}*/
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px $color-3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

	img {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}

	/*@include MQ(L) {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;

		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			animation: cd-bounce-1 .6s;
		}
	}*/
}

@keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		transform: scale(.5);
	}

	60% {
		opacity: 1;
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: $color-3;
	@include border-radius;
	padding: 0;
	@include clearfix;

	.cd-read-more {
		float: right;
		padding: .8em 1em;
		background: red;
		color: $color-3;
		@include border-radius;

		.no-touch &:hover {
			background-color: lighten(red, 5%);
		}
	}

	.cd-date {
		position: absolute;
		bottom: 0;
		padding: .8em;
		opacity: .7;
	}

	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $color-3;
	}

	@include MQ(M) {
		h2 {
			font-size: 20px;
		}

		p {
			font-size: 16px;
		}

		.cd-read-more, .cd-date {
			font-size: 14px;
		}
	}

	/*@include MQ(L) {
		margin-left: 0;
		padding: 0em;
		width: 45%;

		&::before {
			top: 24px;
			left: 100%;
			border-color: transparent;
			border-left-color: $color-3;
		}

		.cd-read-more {
			float: left;
		}

		.cd-date {
			position: absolute;
			width: 100%;
			left: 122%;
			top: 6px;
;
		}

		.cd-timeline-block:nth-child(even) & {
			float: right;

			&::before {
				top: 24px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: $color-3;
			}

			.cd-read-more {
				float: right;
			}

			.cd-date {
				left: auto;
				right: 122%;
				text-align: right;
			}
		}

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			animation: cd-bounce-2 .6s;
		}
	}*/
}

@include MQ(L) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		animation: cd-bounce-2-inverse .6s;
	}
}

@keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	60% {
		opacity: 1;
		transform: translateX(20px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	60% {
		opacity: 1;
		transform: translateX(-20px);
	}

	100% {
		transform: translateX(0);
	}
}


.cd-icon {
	float: right;
	width: 50px;
}

.cd-timeline-content {

}

.cd-text {
	padding: 1.3em;

	@include MQ(S) {
		width: 100%;
		padding-top: 2em;
	}
	@include MQ(M) {
		width: 50%;
		padding-bottom: 2em;
	}
	@include MQ(L) {
		float: none;
		width: 70%;
		padding-bottom: 2em;
	}
}

.cd-picture {
	width: 100%;
	object-fit: contain;
	object-position: right;

	@include MQ(M) {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		max-height: 100%;
		margin-left: 15px;
	}
	@include MQ(L) {
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		max-height: 100%;
		margin-left: 15px;
	}
}

.cd-date {
	@include MQ(S) {
		right: 0;
		top: 0;
	}

	@include MQ(M) {
		left: 0;
		top: auto;
		bottom: 0;
	}

	@include MQ(L) {
		left: 0;
		top: auto;
		bottom: 0;
	}
}

.cd-timeline-img{
	background-color: #75ce66; // r
}

.category-work {
	background-color: #c03b44; // red
}

.category-studies {
	background-color: #f0ca45; // red

}

.category-star {
	background-color: #75ce66; // red

}