<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <h2>Nacimiento</h2>
      <p>Un 29 de diciembre del año en que calló el muro de Berlín llegué al mundo en Madrid. Viví dos días de los 80' y para entonces ya se estaba fraguando la <a href="https://en.wikipedia.org/wiki/World_Wide_Web">World Wide Web (WWW)</a></p>
      <img class="picture" src="assets/img/timeline/nacimiento.jpg" alt="Nacimiento"/>
      <span class="cd-date">29/12/1989</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <h2>Estudios primarios, secundaria y bachillerato</h2>
      <img src="assets/img/timeline/calasancio.png" class="icon" />
      <p>En <a href="https://www.colegiocalasancio.es/">Colegio Calasancio de Madrid</a></p>
      <span class="cd-date">1995-2007</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <h2>Ingeniería Tecnica en Informatica de Sistemas</h2>
      <img src="assets/img/timeline/etsisi.png" class="icon" />
      <img src="assets/img/timeline/upm.png" class="icon" />
      <p>En <a href="https://www.upm.es/">UPM</a>&nbsp;<a href="http://www.etsisi.upm.es/">ETSISI</a></p>
      <ul>
        <li><b>Mejor expediente</b> de la promoción</li>
        <li>Doble titulación <b>Experturía en Sistemas Informáticos Distribuidos</b></li>
      </ul>
      <img class="picture" src="assets/img/timeline/graduado.jpg" alt="Graduado"/>
      <span class="cd-date">2007-2011</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <h2>Title of section 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
      <span class="cd-date">Jan 24</span>
    </mat-card> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->