<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-star">
      <img src="assets/img/timeline/star.png" alt="Star">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text">
        <h2>Nacimiento</h2>
        <p>Un 29 de diciembre del año en que calló el muro de Berlín llegué al mundo en Madrid. Viví dos días de los 80' y para entonces ya se estaba fraguando la <a href="https://en.wikipedia.org/wiki/World_Wide_Web">World Wide Web (WWW)</a></p>
      </div>
      <img class="cd-picture" src="assets/img/timeline/bebe.jpg" alt="Nacimiento"/>
      <span class="cd-date">29/12/1989</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-studies">
      <img src="assets/img/timeline/graduation-cap.png" alt="Studies">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text no-picture">
        <h2>Estudios primarios, secundaria y bachillerato</h2>
        <img src="assets/img/timeline/calasancio.png" class="cd-icon" alt="Calasancio logo"/>
        <p>En <a href="https://www.colegiocalasancio.es/">Colegio Calasancio de Madrid</a></p>
      </div>
      <span class="cd-date">1995-2007</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-studies">
      <img src="assets/img/timeline/graduation-cap.png" alt="Studies">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text">
        <h2>Ingeniería Tecnica en Informatica de Sistemas</h2>
        <img src="assets/img/timeline/etsisi.png" class="cd-icon" alt="UPJ ETSISI logo"/>
        <img src="assets/img/timeline/upm.png" class="cd-icon" alt="UPM logo"/>
        <p>En <a href="https://www.upm.es/">UPM</a>&nbsp;<a href="http://www.etsisi.upm.es/">ETSISI</a></p>
        <ul>
          <li><b>Mejor expediente</b> de la promoción y 6 <b>matrículas de honor</b>.</li>
          <li><b>Doble titulación</b> Experturía en Sistemas Informáticos Distribuidos.</li>
          <li><b>Proyecto fin de carrera</b>: <a href="assets/pdf/pfc.pdf">Estudio, desarrollo y simulación de
            protocolos distribuidos enfocados al reparto equitativo de ancho de banda</a>.</li>
        </ul>
      </div>
      <img class="cd-picture" src="assets/img/timeline/graduado.jpg" alt="Graduado"/>
      <span class="cd-date">2007-2011</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-work">
      <img src="assets/img/timeline/briefcase.png" alt="Work">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text no-picture">
        <h2>Técnico de apoyo</h2>
        <img src="assets/img/timeline/urjc.png" class="cd-icon" alt="URJC logo"/>
        <img src="assets/img/timeline/upm.png" class="cd-icon" alt="UPM logo"/>
        <p>En Proyecto de investigación <a href="https://www.upm.es/">UPM</a> & <a href="https://www.urjc.es/">URJC</a></p>
        <ul>
          <li>Implementando en java un simulador y distintos algoritmos distribuidos para protocolos de red con asignación de ancho de banda equitativo.</li>
        </ul>
      </div>
      <span class="cd-date">4/2010-3/2011</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-work">
      <img src="assets/img/timeline/briefcase.png" alt="Work">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text">
        <h2>Desde Programador Junior a Arquitecto de Software</h2>
        <img src="assets/img/timeline/krama.png" class="cd-icon" alt="Krama logo"/>
        <p>En consultora <a href="https://www.krama.es/">Krama e-soft</a></p>
        <ul>
          <li>Desarrollo de aplicaciones con JEE y Spring; webs con Angular; apps híbridas con Ionic y Apache Cordova; apps nativas con Android.</li>
          <li>Despliegue de aplicaciones, sistemas de integración continua.</li>
          <li>Preventa, preparacion de mediciones y ofertas, procesos de selección de personal...</li>
          <li>Gestión de equipos y lider técnico resolviendo impedimentos técnicos.</li>
          <li>Producto completo construido desde cero: <a href="https://www.kramagot.com/">Krama GOT</a></li>
        </ul>
      </div>
      <img class="cd-picture" src="assets/img/timeline/krama-leyendas.jpg" alt="Krama leyendas foto"/>
      <span class="cd-date">3/2011-9/2017</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-work">
      <img src="assets/img/timeline/briefcase.png" alt="Work">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text">
        <h2>Arquitecto de Software</h2>
        <img src="assets/img/timeline/autentia.png" class="cd-icon" style="width: 80px;" alt="Autentia logo"/>
        <p>En consultora <a href="https://www.autentia.com/">Autentia</a></p>
        <ul>
          <li>Arquitecto de software y lider técnico en proyectos de distintos sectores.</li>
          <li>Soporte al desarrollo ayudando a resolver problemas complejos, diseñando arquitecturas e implementando software de calidad.</li>
          <li>Implementando aplicaciones sobre Cloud.</li>
          <li>Potenciando y ayudando a otras empresas a escribir código de calidad con metodologías ágiles y TDD.</li>
          <li>Impartiendo formaciones: Kubernetes, Testing...</li>
          <li>Haciendo auditorías técnicas y metodológicas en busca de puntos de mejora de productos software y sus procedimientos.</li>
        </ul>
      </div>
      <img class="cd-picture" src="assets/img/timeline/autentia-premios.jpg" alt="Krama leyendas foto"/>
      <span class="cd-date">9/2017-Actualidad</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-work">
      <img src="assets/img/timeline/briefcase.png" alt="Work">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text no-picture">
        <h2>Trabajos Freelance</h2>
        <img src="assets/img/timeline/malt.png" class="cd-icon" alt="Malt logo"/>
        <p>A través de <a href="https://www.malt.es/profile/miguelangelhernandezcastromiyo">Malt</a></p>
        <ul>
          <li>Proyectos para terceros en mi tiempo libre.</li>
        </ul>
        <img class="m-4" style="max-width: 80%; text-align: center;" src="assets/img/timeline/malt-review-kishoa.png" alt="Review malt"/>
      </div>
      <span class="cd-date">Esporádicamente</span>
    </mat-card>
  </div>
</section>