<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-star">
      <img src="assets/img/timeline/star-icon.png" alt="Star">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text">
        <h2>Nacimiento</h2>
        <p>Un 29 de diciembre del año en que cayó el muro de Berlín llegué al mundo en Madrid. Viví dos días de los 80' y para entonces ya se estaba fraguando la <a href="https://en.wikipedia.org/wiki/World_Wide_Web">World Wide Web (WWW)</a></p>
      </div>
      <img class="cd-picture" src="assets/img/timeline/bebe-picture.jpg" alt="Nacimiento"/>
      <span class="cd-date">29/12/1989</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-studies">
      <img src="assets/img/timeline/graduation-cap-icon.png" alt="Studies">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text no-picture">
        <h2>Estudios primarios, secundaria y bachillerato</h2>
        <img src="assets/img/timeline/calasancio-icon.png" class="cd-icon" alt="Calasancio logo"/>
        <p>En <a href="https://www.colegiocalasancio.es/">Colegio Calasancio de Madrid</a></p>
      </div>
      <span class="cd-date">1995-2007</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-studies">
      <img src="assets/img/timeline/graduation-cap-icon.png" alt="Studies">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text">
        <h2>Ingeniería Tecnica en Informatica de Sistemas</h2>
        <img src="assets/img/timeline/etsisi-icon.png" class="cd-icon" alt="UPJ ETSISI logo"/>
        <img src="assets/img/timeline/upm-icon.png" class="cd-icon" alt="UPM logo"/>
        <p>En <a href="https://www.upm.es/">UPM</a>&nbsp;<a href="http://www.etsisi.upm.es/">ETSISI</a></p>
        <ul>
          <li><b>Mejor expediente</b> de la promoción y 6 <b>matrículas de honor</b>.</li>
          <li><b>Doble titulación</b> Experturía en Sistemas Informáticos Distribuidos.</li>
          <li><b>Proyecto fin de carrera</b>: <a href="assets/pdf/pfc.pdf">Estudio, desarrollo y simulación de
            protocolos distribuidos enfocados al reparto equitativo de ancho de banda</a>.</li>
        </ul>
      </div>
      <img class="cd-picture" src="assets/img/timeline/graduado-picture.jpg" alt="Graduado"/>
      <span class="cd-date">2007-2011</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-work">
      <img src="assets/img/timeline/briefcase-icon.png" alt="Work">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text no-picture">
        <h2>Técnico de apoyo</h2>
        <img src="assets/img/timeline/urjc-icon.png" class="cd-icon" alt="URJC logo"/>
        <img src="assets/img/timeline/upm-icon.png" class="cd-icon" alt="UPM logo"/>
        <p>En Proyecto de investigación <a href="https://www.upm.es/">UPM</a> & <a href="https://www.urjc.es/">URJC</a></p>
        <ul>
          <li>Implementando en java un simulador y distintos <b>algoritmos distribuidos</b> para protocolos de red con asignación de ancho de banda equitativo.</li>
        </ul>
      </div>
      <span class="cd-date">4/2010-3/2011</span>
    </mat-card>
  </div>


  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-studies">
      <img src="assets/img/timeline/graduation-cap-icon.png" alt="Studies">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text no-picture">
        <h2>Ingeniería de Software</h2>
        <img src="assets/img/timeline/etsisi-icon.png" class="cd-icon" alt="UPJ ETSISI logo"/>
        <img src="assets/img/timeline/upm-icon.png" class="cd-icon" alt="UPM logo"/>
        <p>En <a href="https://www.upm.es/">UPM</a>&nbsp;<a href="http://www.etsisi.upm.es/">ETSISI</a></p>
        <ul>
          <li>Extensión y adaptación a los nuevos grados universitarios.</li>
          <li><b>Proyecto fin de grado</b>: <a href="assets/pdf/pfg.pdf">Desarrollo de una plataforma de juegos de programación via API REST</a>.</li>
        </ul>
      </div>
      <span class="cd-date">2011 & PFG en 2020</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-work">
      <img src="assets/img/timeline/briefcase-icon.png" alt="Work">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text">
        <h2>Desde Programador Junior a Arquitecto de Software</h2>
        <img src="assets/img/timeline/krama-icon.png" class="cd-icon" alt="Krama logo"/>
        <p>En consultora <a href="https://www.krama.es/">Krama e-soft</a></p>
        <ul>
          <li><b>Desarrollo</b> de aplicaciones con JEE y Spring; webs con Angular; apps híbridas con Ionic y Apache Cordova; apps nativas con Android.</li>
          <li><b>Despliegue</b> de aplicaciones, sistemas de integración continua.</li>
          <li><b>Preventa</b>, preparación de mediciones y ofertas, procesos de selección de personal...</li>
          <li>Gestión de equipos y <b>líder técnico</b> resolviendo impedimentos técnicos.</li>
          <li>Producto completo construido desde cero: <a href="https://www.kramagot.com/">Krama GOT</a></li>
        </ul>
      </div>
      <img class="cd-picture" src="assets/img/timeline/krama-leyendas-picture.jpg" alt="Krama leyendas foto"/>
      <span class="cd-date">3/2011-9/2017</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-work">
      <img src="assets/img/timeline/briefcase-icon.png" alt="Work">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text">
        <h2>Arquitecto de Software</h2>
        <img src="assets/img/timeline/autentia-icon.png" class="cd-icon" style="width: 80px;" alt="Autentia logo"/>
        <p>En consultora <a href="https://www.autentia.com/">Autentia</a></p>
        <ul>
          <li>Implicado en multitud de proyectos de <b>distintos sectores</b>: aerolíneas, banca, energía, startups…</li>
          <li><b>Definiendo proyectos</b> tecnológicos desde cero: Desde una gran pasarela de pagos instantáneos con autoscaling y alta disponibilidad, a pequeños proyectos para startups con la definición de un MVP con un rápido time-to-market.</li>
          <li>Ayudar a implantar <b>prácticas XP</b> (TDD, Pair programing, Refactoring, Simple Design, CI…) y escribir código de calidad a equipos de otras empresas.</li>
          <li>Ayudar a grandes empresas organizar su departamento de <b>arquitectura</b> ayudándoles a definir sus objetivos. Defiendo con ellos el ciclo de vida de desarrollo, las recomendaciones y buenas prácticas, y el marco tecnológico y de infraestructura.</li>
          <li>Siempre trabajando con <b>metodologías ágiles</b> adaptándose a las necesidades de cada proyecto y equipo.</li>
          <li>Ayudando en <b>refinamiento técnico</b> de historias de usuario.</li>
          <li>Montando pipelines de <b>integración y despliegue continuo</b> con varios tipos de herramientas. Aplicando metodologías DevOps y flujos GitOps.</li>
          <li>Provisionando infraestructura en varios entornos <b>Cloud</b> siempre con enfoques IaC (infrastructure as code) con herramientas como Terraform.</li>
          <li>Instalando y administrando clusters de <b>Kubernetes</b> y scripts de despliegues con plantillas Helm.</li>
          <li>Configurando sistemas de <b>monitorización</b> de sistemas distribuidos: logs, métricas técnicas, KPIs, APMs. Con herramientas como ELK, Splunk, Prometheus/Grafana, AppDynamics...</li>
          <li>Supervisando y participando en <b>desarrollos fullstack</b> con frameworks como Spring (con Java), Micronaut (con Kotlin), Angular (con Typescript), NestJS (con Node).</li>
          <li>Haciendo <b>auditorías</b> técnicas y metodológicas</li>
          <li>Dando soporte a empresas para resolución de <b>problemas complejos</b> puntuales de desarrollo y sistemas.</li>
          <li><b>Impartiendo formaciones</b> para aplicación de buenas prácticas para el desarrollo de software de calidad tanto a otras empresas como internas.</li>
        </ul>
      </div>
      <img class="cd-picture" src="assets/img/timeline/autentia-premios-picture.jpg" alt="Krama leyendas foto"/>
      <span class="cd-date">9/2017-Actualidad</span>
    </mat-card>
  </div>
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img category-work">
      <img src="assets/img/timeline/briefcase-icon.png" alt="Work">
    </div>
    <mat-card class="cd-timeline-content" data-aos="zoom-in">
      <div class="cd-text no-picture">
        <h2>Trabajos Freelance</h2>
        <img src="assets/img/timeline/malt-icon.png" class="cd-icon" alt="Malt logo"/>
        <p>A través de <a href="https://www.malt.es/profile/miguelangelhernandezcastromiyo">Malt</a></p>
        <ul>
          <li>Proyectos para terceros en mi tiempo libre.</li>
        </ul>
        <div class="cd-horizontal-picture-container"><img src="assets/img/timeline/malt-review-picture.png" alt="Review malt"/></div>
      </div>
      <span class="cd-date">Esporádicamente</span>
    </mat-card>
  </div>
</section>