<div class="container">
  <h2>Creaciones</h2>
  <mat-card class="m-1">
    <h3 class="title">Compartiendo conocimiento</h3>
    <div class="row">
      <div class="col-sm-6 p-1">
        <mat-card>
          <img src="assets/img/creations/adictos.jpg" alt="aat" class="adictos-logo" />
          <h4><b>Tutoriales </b> en <a href="https://www.adictosaltrabajo.com/author/mahernandez/">adictosaltrabajo.com</a></h4>
          <ul>
            <li><a
                href="https://www.adictosaltrabajo.com/2017/10/02/nomad-despliegue-y-supervision-sencilla-de-aplicaciones/">Nomad
                – Despliegue y supervisión sencilla de aplicaciones</a></li>
            <li><a
                href="https://www.adictosaltrabajo.com/2017/11/06/websockets-escalables-con-spring-y-rabbitmq/">Websockets
                escalables con Spring y RabbitMQ</a></li>
            <li><a
                href="https://www.adictosaltrabajo.com/2018/03/08/arquitectura-serverless-con-lambdas-sobre-aws/">Arquitectura
                Serverless con Lambdas sobre AWS</a></li>
            <li><a href="https://www.adictosaltrabajo.com/2018/03/27/cqrs-sobre-aws-con-lambdas-dynamodb-y-sns/">CQRS sobre
                AWS con Lambdas, DynamoDB y SNS</a></li>
            <li><a
                href="https://www.adictosaltrabajo.com/2018/04/18/introduccion-a-machine-learning-con-tensorflow/">Introducción
                a Machine Learning con TensorFlow</a></li>
            <li><a href="https://www.adictosaltrabajo.com/2018/07/04/tick-stack-para-bigdata-con-series-temporales/">TICK
                Stack para BigData con series temporales</a></li>
            <li><a href="https://www.adictosaltrabajo.com/2018/07/25/corriendo-apache-spark-sobre-kubernetes/">Corriendo
                Apache Spark sobre Kubernetes</a></li>
          </ul>
        </mat-card>
      </div>
      <div class="col-sm-6 p-1">
        <mat-card>
          <h4><b>Charla</b> en Autentia Open Space</h4>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8z6igR5f1zE?start=10" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
  
  <!--mat-card class="m-1">
    <h3 class="title">Productos</h3>
    <div class="row">
      <div class="col-sm-12 p-1">
        <mat-card>
          <h4>TODO</h4>
        </mat-card>
      </div>
    </div>
  </mat-card-->
</div>