<div class="container">
  <h2>Creaciones</h2>
  <mat-card class="m-1" data-aos="fade-up">
    <h3 class="title">Compartiendo conocimiento</h3>
    <div class="row">
      <div class="col-sm-6 p-1" data-aos="zoom-in">
        <mat-card>
          <h4><b>Charla</b> en Autentia Open Space</h4>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8z6igR5f1zE?start=10" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card>
      </div>
      <div class="col-sm-6 p-1" data-aos="zoom-in">
        <mat-card>
          <img src="assets/img/creations/adictos-icon.jpg" alt="aat" class="adictos-logo" />
          <h4><b>Tutoriales </b> en <a href="https://www.adictosaltrabajo.com/author/mahernandez/">adictosaltrabajo.com</a></h4>
          <ul>
            <li><a
                href="https://www.adictosaltrabajo.com/2017/10/02/nomad-despliegue-y-supervision-sencilla-de-aplicaciones/">Nomad
                – Despliegue y supervisión sencilla de aplicaciones</a></li>
            <li><a
                href="https://www.adictosaltrabajo.com/2017/11/06/websockets-escalables-con-spring-y-rabbitmq/">Websockets
                escalables con Spring y RabbitMQ</a></li>
            <li><a
                href="https://www.adictosaltrabajo.com/2018/03/08/arquitectura-serverless-con-lambdas-sobre-aws/">Arquitectura
                Serverless con Lambdas sobre AWS</a></li>
            <li><a href="https://www.adictosaltrabajo.com/2018/03/27/cqrs-sobre-aws-con-lambdas-dynamodb-y-sns/">CQRS sobre
                AWS con Lambdas, DynamoDB y SNS</a></li>
            <li><a
                href="https://www.adictosaltrabajo.com/2018/04/18/introduccion-a-machine-learning-con-tensorflow/">Introducción
                a Machine Learning con TensorFlow</a></li>
            <li><a href="https://www.adictosaltrabajo.com/2018/07/04/tick-stack-para-bigdata-con-series-temporales/">TICK
                Stack para BigData con series temporales</a></li>
            <li><a href="https://www.adictosaltrabajo.com/2018/07/25/corriendo-apache-spark-sobre-kubernetes/">Corriendo
                Apache Spark sobre Kubernetes</a></li>
          </ul>
        </mat-card>
      </div>
    </div>
  </mat-card>
  
  <mat-card class="m-1" data-aos="fade-up">
    <h3 class="title">Productos</h3>
    <div class="row">
      <div class="col-sm-6 p-1" data-aos="zoom-in">
        <mat-card>
          <h4>Rest Coding Game</h4>
          <p>Aplicación con la que enseñar lo que es y cómo se utiliza una API REST de una manera “gamificada” y practicar la implementación de algoritmos para la resolución más óptima de juegos.</p>
          <p class="status">En fase de desarrollo</p>
        </mat-card>
      </div>
      <div class="col-sm-6 p-1" data-aos="zoom-in">
        <mat-card>
          <h4>Meetings Panel</h4>
          <p>Aplicación para facilitar las reuniones mejorando su efectividad y aprovecho.</p>
          <p class="status">En fase de diseño</p>
        </mat-card>
      </div>
      <div class="col-sm-6 p-1" data-aos="zoom-in">
        <mat-card>
          <h4>Desfiniciones</h4>
          <p>Juego multijugador sobre definiciones de palabras del diccionario.</p>
          <p class="status">Desarrollo pausado</p>
        </mat-card>
      </div>
    </div>
  </mat-card>
  
  <mat-card class="m-1" data-aos="fade-up">
    <h3 class="title">Cacharreando</h3>
    <p>
      Acostumbro a cacharrear y aprender nuevas tecnologías y productos de desarrollo de software mediante tutoriales, videos de youtube, cursos o meetups. 
      La mayoría de las veces implementando simples PoCs que no llevan a ningún resultado tangible pero con alguna aplicación completa terminada ocasionalmente.
      Algunos ejemplos:
    </p>
    <ul>
      <li>Desde bien pequeño hice mis primeros "pinitos" en la programación haciendo aplicaciones con Visual Basic y páginas web como una (ya cerrada) para mi pequeño pueblo <a href="https://es.wikipedia.org/wiki/Mart%C3%ADnez_(%C3%81vila)">Martínez (Ávila)</a>.</li>
      <li>Durante bachillerato antes de comenzar la carrera seguía mejorando mis capacidades de desarrollo de software llegando a crear un troyano con c++ (con fines académicos por supuesto).</li>
      <li>Durante la carrera implementé varias aplicaciones para dispositivos móviles. Por ejemplo una app para jugar al “Mus” en JME y aplicaciones Android nativas “MathBall” y “FastFinger”.</li>
      <li>Cuando los microservicios empezaron a ponerse de moda implementé un PoC de arquitectura de microservicios con Spring Cloud.</li>
      <li>Diseñé y construí esta pagina web personal durante la cuarentena por Coronavirus.</li>
    </ul>
  </mat-card>
</div>