.current-section {
  background-color: cornflowerblue
}
.current-section::after { 
  content: "\039e";
  background-color: yellow; 
  color: red;

}
.menu-spacer {
  flex: 1 1 auto;
}
.menu > button.active {
  color: red;
}
.title {
  cursor: pointer;
}
#content-scroll {
  overflow-x: hidden;
}
section {
  margin-bottom: 20px;
}