mat-toolbar{
  position: fixed;
  z-index: 100;
  top: 0;
}

mat-sidenav-container {
  margin-top: 64px;

  @media (max-width: 599px) {
    margin-top: 56px;
  }
}

mat-sidenav {
  position: fixed;
  top: 64px;

  @media (max-width: 599px) {
    top: 56px;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.current-section {
  background-color: cornflowerblue
}
.current-section::after { 
  content: "\039e";
  background-color: yellow; 
  color: red;

}
.menu-spacer {
  flex: 1 1 auto;
}
.menu-button {
  margin-right: 10px;
}
.menu > button.active {
  color: red;
}
.title {
  cursor: pointer;
}
section {
  margin-bottom: 20px;
}

.header *, .header button {
  color: white;
}

#footer {
  margin-bottom: 0;
}