
<mat-toolbar color="primary">
  <mat-toolbar-row class="content">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <h2 class="title" (click)="scrollTo('intro')">@miyoda</h2>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md class="menu">
      <button *ngFor="let section of sections" (click)="scrollTo(section.id)" [class.active]="currentSection===section.id" mat-button>{{section.title}}</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav mode="over" [(opened)]="sidenavOpened" #sidenav>
    <mat-action-list class="menu">
      <button *ngFor="let section of sections" (click)="scrollTo(section.id)" [class.active]="currentSection===section.id" mat-list-item >{{section.title}}</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content id="content-scroll" fxFlexFill appScrollSpy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <section id="intro">
      <app-section-intro></app-section-intro>
    </section>
    <section id="creations">
      <app-section-creations></app-section-creations>
    </section>
    <section id="timeline">
      <app-section-timeline></app-section-timeline>
    </section>
    <section id="knowledge">
      <app-section-knowledge></app-section-knowledge>
    </section>
    <section id="continuous-improvement">
      <app-section-continuous-improvement></app-section-continuous-improvement>
    </section>
    <section id="other">
      <app-section-other></app-section-other>
    </section>
    <section id="footer">
      <app-section-footer></app-section-footer>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>