
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row class="content">
    <button mat-icon-button class="menu-button" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <h2 class="title" (click)="scrollTo('intro')">@miyoda</h2>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md class="menu">
      <button *ngFor="let section of sections" (click)="scrollTo(section.id)" [class.active]="currentSection===section.id" mat-button>{{section.title}}</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="sidenavOpened" #sidenav>
    <mat-action-list class="menu">
      <button *ngFor="let section of sections" (click)="scrollTo(section.id)" [class.active]="currentSection===section.id" mat-list-item >{{section.title}}</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <section>
      <a class="anchor section-spy" id="intro"></a>
      <app-section-intro></app-section-intro>
    </section>
    <section>
      <a class="anchor section-spy" id="timeline"></a>
      <app-section-timeline></app-section-timeline>
    </section>
    <section>
      <a class="anchor section-spy" id="knowledge"></a>
      <app-section-knowledge></app-section-knowledge>
    </section>
    <section>
      <a class="anchor section-spy" id="creations"></a>
      <app-section-creations></app-section-creations>
    </section>
    <section>
      <a class="anchor section-spy" id="continuous-improvement"></a>
      <app-section-continuous-improvement></app-section-continuous-improvement>
    </section>
    <section>
      <a class="anchor section-spy" id="other"></a>
      <app-section-other></app-section-other>
    </section>
    <section>
      <a class="anchor section-spy" id="footer"></a>
      <app-section-footer></app-section-footer>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>