
<mat-toolbar color="primary">
  <mat-toolbar-row class="content">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <h2 class="title" (click)="scrollTo('intro')">@miyoda</h2>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md class="menu">
      <button *ngFor="let section of sections" (click)="scrollTo(section.id)" [class.active]="currentSection===section.id" mat-button>{{section.title}}</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav mode="over" [(opened)]="sidenavOpened" #sidenav>
    <mat-action-list class="menu" (click)="sidenav.toggle()">
      <button *ngFor="let section of sections" (click)="scrollTo(section.id)" [class.active]="currentSection===section.id" mat-list-item >{{section.title}}</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content id="content-scroll" fxFlexFill appScrollSpy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <section id="intro">
      <app-section-intro></app-section-intro>
    </section>
    <section id="timeline">
      <app-section-timeline></app-section-timeline>
    </section>
    <section id="section2">
      <div class="container">
        <h1 style="margin:0">Section 2</h1>
        <app-lorem-ipsum></app-lorem-ipsum>
        <app-lorem-ipsum></app-lorem-ipsum>
        <app-lorem-ipsum></app-lorem-ipsum>
      </div>
    </section>
    <section id="section3">
      <div class="container">
        <h1 style="margin:0">Section 3</h1>
        <app-lorem-ipsum></app-lorem-ipsum>
        <app-lorem-ipsum></app-lorem-ipsum>
        <app-lorem-ipsum></app-lorem-ipsum>
      </div>
    </section>
    <section id="section4">
      <div class="container">
        <h1 style="margin:0">Section 4</h1>
        <app-lorem-ipsum></app-lorem-ipsum>
        <app-lorem-ipsum></app-lorem-ipsum>
        <app-lorem-ipsum></app-lorem-ipsum>
      </div>
    </section>
    <section id="footer">
      <app-section-footer></app-section-footer>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>