<div class="back">
  <div class="container row">
    <div class="col-sm-5">
      <address>
        <h4>Contacto:</h4>
        <h6 class="footer-title font-weight-bold">
          Email: <a href="miyoda@gmail.com" class="footer-link">miyoda@gmail.com</a>
        </h6>
      </address>
      <div class="social-icons">
        <h6 class="footer-title font-weight-bold">
          Redes sociales:
        </h6>
        <div class="d-flex">
          <a href="https://github.com/miyoda"><i class="mdi mdi-github"></i></a>
          <a href="https://www.linkedin.com/in/miyoda-miguel-angel-hernandez-castro"><i class="mdi mdi-linkedin"></i></a>
          <a href="https://twitter.com/miguel_miyoda"><i class="mdi mdi-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <h4>Agradecimientos:</h4>
      <p>A <span class="to-tip" matTooltip="." #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltipClass="photo-tooltip-family">mi familia</span> que siempre está ahí cuando la necesito.</p>
      <p>A <span class="to-tip" matTooltip="." #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltipClass="photo-tooltip-flecha">mi Flecha</span> por compartir conmigo los días.</p>
      <p>A <span class="to-tip" matTooltip="." #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltipClass="photo-tooltip-friends">mis amigos</span> por entenderme y pasar tantos momentos conmigo.</p>
    </div>
  </div>
</div>