
.back {
  color: white;
  position: relative;
  background-color: #3f51b5;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vw;
  padding-bottom: 5vw;
  clip-path: polygon(
    0 0,
    0 100%,
    100% 100%,
    100% calc(8vw),
  );
}