<div class="back">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-desc" data-aos="fade-up">
        <h1>Miguel Ángel Hernández Castro</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</h3>
      </div>
      <div class="col-sm-4 col-photo" data-aos="fade-up">
        <img class="ma-photo" src="assets/img/ma_photo.png">
      </div>
    </div>
  </div>
</div>