/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@mdi/font/css/materialdesignicons.min.css';

$primary-font: "Rubik", sans-serif;
$main-text: #21272c; // main text
$link: #215783; // anchor tags
$link_hover: #3688ca; // anchor tags

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  height: 90vh;
  margin: 0px;
}

body, .mat-card {
  color: $main-text;
  
	font: {
		size: 100%;
		family: $primary-font;
	}
}

button:focus {
  outline: none;
}

a, .tooltip {
	color: $link;
	text-decoration: none;
}
a:hover, .tooltip:hover {
	color: $link_hover;
	text-decoration: underline;
}

.back {
	color: white;
	a, .to-tip {
		cursor: pointer;
		color: #c4cefc;
		text-decoration: none;
	}
	a:hover, .to-tip:hover {
		color: #9bacfc;
		text-decoration: underline;
	}
	
}
